.logo {
    padding: 120px 0 150px;
    text-align: center;
}
.logo.logo-small {
    padding: 30px 0 50px;
    text-align: center;
}
.logo.logo-small img {
    height: 60px;
    width: auto;
}
.terms-note {
    padding: 15px;
    background-color: rgba(50, 50, 50, 0.8);
}
.login {
    background-color: #F2FCFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    color: #000;
}
.login a {
    color: #000;
    text-decoration: none;
    font-weight: 700;
}
.login > .ion-content {
    background-color: rgba(50, 50, 50, 0.8);
}
.bar-translucent {
    background-color: rgba(230, 230, 230, 0.2);
}
.bar-translucent .title a {
    color: #ffffff;
    font-weight: 400;
}
.location {
    color: #ffffff;
    background-color: #555555;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-color: rgba(10, 10, 10, 0.9);
}
.location .item-content {
    background-color: rgba(10, 10, 10, 0.7);
    padding: 36px;
}
.location h2 {
    color: #ffffff;
    font-weight: 700;
}
.location p {
    color: #dedede;
    font-size: 0.85em;
}
.location-hero {
    color: #ffffff;
    background-color: #555555;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-color: rgba(10, 10, 10, 0.9);
    text-align: center;
}
.location-hero h3 {
    color: #ffffff;
}
.location-hero .gradient {
    background-color: rgba(10, 10, 10, 0.7);
    padding: 36px 0 48px;
}
.btn-checkin-wrapper {
    position: relative;
    top: -24px;
    text-align: center;
}
.account-hero {
    background-image: url('../img/bg-entry.jpg');
    background-color: #555555;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    color: #dedede;
    height: 120px;
    text-align: center;
}
.account-hero .gradient {
    background-color: rgba(50, 50, 50, 0.8);
    height: 120px;
}
.account-hero h3 {
    color: #ffffff;
    padding-top: 30px;
}

/* Empty. Add your own CSS if you like */

.spinner svg {
  width: 16px !important;
  height: 16px !important;
}

.slideOne {
  background-color: #3FB1FC;
  background-size: cover;
}

.slideOne h2 {
  color: #fff;
}

.slideTwo {
  background-color: #11BF26;
}

.slideTwo h2 {
  color: #fff;
}

.slideThree {
  background-color: #ffffff;
}

.slideThree h2 {
  color: #1653FA;
}

.x-ion-header {
  margin-bottom: 10px;
}

#profile-bg {
  position: fixed;
  left: 0;
  top: 44px;
  width: 100%;
  height: 150px;

/*     background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/bg.jpg') no-repeat transparent;*/
  background-size: 100%;
  background-position: 50% 20%;

  text-align: center;
}

#content {
  position: relative;
  margin-top: 150px;
  background-color: white;
  box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
  padding-top: 200px;
}

#profile-info {
  position: absolute;
  top: -95px;
  width: 100%;
  z-index: 2;
  text-align: center;
}
#profile-name {
  color: #444;
  font-size: 26px;
}
#profile-description {
  font-size: 15px;
  color: #888;
}
#profile-description a {
  color: #888;
}

#profile-image {
  display: block;
  border-radius: 100px;
  border: 1px solid #fff;
  width: 128px;
  height: 128px;
  margin: 30px auto 0;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}

.list-item-content {
  padding: 5px;
}

.list-item {
  color: #666666;
}

.post {
  color: #444;
}

.post-time {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 11px;
  color: #888;
}

.post-profile-image {
  display: inline-block;
  vertical-align: top;
  width: 48px;
  height: 48px;
  margin-right: 10px;
}
.post-options {
  position: absolute;
  font-size: 16px;
  right: 5px;
  bottom: 5px;
  color: #888;
}
