<ion-content scroll="false" hide-nav-bar="true">
  <ion-slides options="options" slider="data.slider">
    <ion-slide-page>
      <div class="slideOne">
        <h2>Hi there!</h2>
      </div>
    </ion-slide-page>
    <ion-slide-page>
      <div class="slideTwo">
        <h2>Let's help one another attain peace!</h2>
      </div>
    </ion-slide-page>
    <ion-slide-page>
      <div class="slideThree">
        <h2>Let's get started!</h2>
      </div>
    </ion-slide-page>
  </ion-slides>
</ion-content>
