<ion-view view-title="Login" hide-nav-bar="true" class="login">
  <ion-content class="ion-content-padding">
    <!-- <div class="logo">
      <img src="img/logo.png" alt="">
    </div> -->
    <div class="list">
      <label class="item item-input">
        <i class="icon ion-ios-email-outline placeholder-icon"></i>
        <input type="email" placeholder="Email address" ng-model="email">
      </label>
      <label class="item item-input">
        <i class="icon ion-ios-locked-outline placeholder-icon"></i>
        <input type="password" placeholder="Password" ng-model="password">
      </label>
      <button class="button button-full button-calm" ng-click="login();">Login</button>
      <p class="text-center">
        Don't have an account yet? <a href="#/tab/home" style="text-decoration: none;">Signup</a>
      </p>
    </div>
  </ion-content>
</ion-view>
