<script id="modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title"> Give PEACE a chance</h1>
    </ion-header-bar>
    <ion-content>
      <button class="button button-full button-alert" ng-click="closeModal()">Cancel</button>
      <button class="button button-full button-calm" ng-click="okayHelp()">OK</button>
    </ion-content>
  </ion-modal-view>
</script>
