<ion-view view-title="NgoDetail" hide-nav-bar="true">
  <ion-content class="padding has-header">
    <span class="text-center"><img src="http://www.international-alert.org/sites/all/themes/international_alert/logo.png" alt=""></span>
    <h4 class="title">International Alert</h4>

    <div class="row">
      <div class="col">
        <p>
          We believe in a world where people resolve their differences without violence and can build a more peaceful future for their families and communities.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col"><button class="button button-full button-calm" ng-click="showPopup();">Donate</button></div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button"><i class="icon ion-social-facebook"></i></button>
      </div>
      <div class="col">
        <button class="button"><i class="icon ion-social-twitter"></i></button>
      </div>
      <div class="col">
        <button class="button"><i class="icon ion-social-instagram"></i></button>
      </div>
    </div>
  </ion-content>
</ion-view>
