<ion-view view-title="Register" hide-nav-bar="true" class="entry">
  <ion-content class="ion-content padding">
    <p><strong>Please fill up the following info</strong></p>
    <br>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="your@email.com" ng-model="email">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="A strong password" ng-model="password">
      </label>
    </div>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="Juan" ng-model="firstname">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Dela Cruz" ng-model="lastname">
      </label>
    </div>
    <p class="terms-note">By registering, you certify that you've read our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>
    <div class="list">
      <button class="button button-full button-assertive" href="#/tab/dash">Register</button>
    </div>
    </div>
  </ion-content>
</ion-view>
<div class="bar bar-footer bar-translucent">
  <div class="title">
    <a href="#/login" style="text-decoration: none;">I already have an account</a>
  </div>
</div>

