<ion-view view-title="History" hide-nav-bar="true">
  <ion-header-bar align-title="center" class="bar-calm padding">
    <h1 class="title">History</h1>
  </ion-header-bar>

  <ion-content>
    <div class="list">
      <div class="card">
        <div class="item item-divider">
          International Alert
        </div>
        <div class="item item-text-wrap">
          Donated financial assistance
        </div>
      </div>

      <div class="card">
        <div class="item item-divider">
          Save the Children
        </div>
        <div class="item item-text-wrap">
          Participated in an online campaign (Twitter)
        </div>
      </div>

      <div class="card">
        <div class="item item-divider">
          UNESCO
        </div>
        <div class="item item-text-wrap">
          Donated financial assistance
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
