<ion-view view-title="Ngos" ng-show="ngos">
  <ion-header-bar align-title="center" class="bar-calm padding">
    <h1 class="title" ng-show="ngos">NGO</h1>
  </ion-header-bar>

  <ion-content class="padding" has-header="true">
    <h4 class="text-center">Donate or support an NGO's digital campaign</h2>
    <div class="list" ng-repeat="ngo in ngos">

    <a class="item item-thumbnail-left" href="#/detail">
      <img src="{{ngo.ngo_logo}}">
      <h2>{{ngo.ngo_pretty_name}}</h2>
      <p>{{ngo.ngo_name}}</p>
    </a>
  </div>
  </ion-content>
</ion-view>

