<ion-view view-title="Profile" hide-nav-bar="true">
  <div class="bar bar-header bar-calm">
    <button class="button button-icon"><i class="icon-person-add"></i></button>
    <h1 class="title">Me</h1>
    <button class="button button-icon"><i class="icon-gear-b"></i></button>
  </div>

  <ion-content has-header="true">
    <div id="profile-bg"></div>
    <div id="content">
      <div id="profile-info">
        <img src="https://pbs.twimg.com/profile_images/754293670933770243/_uio-k-y_400x400.jpg" alt="">
        <h3 id="profile-name">Dexter Brylle Matos</h3>
      </div>
    </div>
  </ion-content>
</ion-view>
