<ion-view view-title="HelpNgo">
  <ion-content class="padding" has-header="true">

    <div class="list" ng-repeat="ngo in ngos">

    <a class="item item-thumbnail-left" href="#/tab/ngos/{{ngo.ngo_name}}">
      <img src="{{ngo.ngo_logo}}">
      <h2>{{ngo.ngo_pretty_name}}</h2>
    </a>
  </div>
  </ion-content>
</ion-view>
