<ion-view view-title="Home" hide-nav-bar="true" ng-show="article">
  <div class="bar bar-header bar-calm">
    <h1 class="title">News</h1>
  </div>
  <ion-content class="padding has-header">
    <ion-refresher
      pulling-text="Pull to read another news..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <h4 class="title">{{ article.title }}</h4>
    <p ng-repeat="paragraph in article.summary | limitTo: 5"> {{ paragraph }}</p>

    <div class="card">
      <p class="padding">
        To read the full story: <a ng-click='openArticle();'>Click here</a>
      </p>
    </div>

    <button type="button" class="button button-calm button-full button-calm" ng-click="showConfirm();">PEACE</button>
  </ion-content>
</ion-view>
