<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-bottom tabs-background-default tabs-color-positive">

  <ion-tab title="Home" icon-off="ion-ios-world-outline" icon-on="ion-ios-world" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  <ion-tab title="History" icon-off="ion-ios-analytics-outline" icon-on="ion-ios-analytics" href="#/tab/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>
  <!-- <ion-tab title="NGOs" icon-off="ion-ios-heart-outline" icon-on="ion-ios-heart" href="#/tab/ngos">
    <ion-nav-view name="tab-ngos"></ion-nav-view>
  </ion-tab> -->
  <ion-tab title="Profile" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>


</ion-tabs>
